.column {
    float: left;
    width: 50%;


}

.imag {
    height: 400px;
    background-size: cover;
    width: max-content;
}

li {
    display: inline;
    padding: 50px;
    background-color: aqua;
}
.welcome{
        background-image: url(images/DSC\ 0051.JPG);
}